@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSansLight.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSansLightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSansRegular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSansItalic.ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSansSemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSansSemiBoldItalic.ttf");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSansBold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSansBoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}

html {
    font-family: "Open Sans";
    line-height: 1.25rem;
}

html,
body {
    padding: 0px;
    margin: 0px;
}

.cont {
    margin: 1rem;
    padding: 1rem;
}
